<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wd.com.barcksdk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application android:supportsRtl="true">

        <provider
            android:name=".initializer.CrashReporterInitProvider"
            android:authorities="${applicationId}.CrashReporterInitProvider"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".crashlytics.ui.CrashReporterActivity"
            android:launchMode="singleTask"
            android:taskAffinity="com.balsikandar.android.task"
            android:theme="@style/CrashReporter.Theme" />

        <activity
            android:name=".crashlytics.ui.LogMessageActivity"
            android:parentActivityName=".crashlytics.ui.CrashReporterActivity"
            android:theme="@style/CrashReporter.Theme" />

        <activity android:name=".service.ServiceController" />

        <service android:name=".service.TimerService" android:stopWithTask="true" />

        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>

    </application>

</manifest>